
.headerRow .headerCell{
    font-weight: 700;
}
.headerCell{
    position: relative;
   
}
.headerCell:hover{
    background-color: rgba(207, 244, 215, 0.318);
 
}
.headerCell:hover::after {
    content: "";
    position: absolute;
    background-color: rgba(207, 244, 215, 0.318);
   
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: 1;
    pointer-events:none
}

.table{
        overflow: hidden;
    }

.tableRow:nth-child(2n+1){
    background-color: rgb(222, 231, 231);
}




/* Links */
.link {
    text-decoration: none;
    width: fit-content;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #36A9AE;
    background-image: linear-gradient(#37ADB2, #329CA0);
    border: 1px solid #2A8387;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    outline: 0;
    text-align: center;
    transition: box-shadow .05s ease-in-out, opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}

.link:hover {
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
    text-decoration: none;
    transition-duration: .15s, .15s;
}

.linkToMain{
    composes: link;
    margin-right: 0;
    margin-left: auto;
    font-size: 18px;
    padding: 10px;
}
.header{
    text-align: center;
    margin-bottom: 10px;
}



